h1 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    }

.red {
    color: red;
}

#container {
    margin: 0 auto;
    background-color: #64a4b4;
    width: 1200px;
    padding: 10px;
    height: 800px;

}

header {
    background-color: rgba(219, 4, 4, 0.74);
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a877e7;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

#content-left {
    background-color: rgba(255, 136, 0, 0.692);
    margin: 10px;
    float: left;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    padding: 10px;
}

#content-right {
    background-color: rgba(255, 0, 0, 0.63);
    float: right;
    font-family: 'Poppins', sans-serif;
    width: 680px;
    padding: 10px;
    margin: 10px;
}

.clearfix {
    float: clear;
}

footer {
    float: left;
    font-family: 'Poppins', sans-serif;
    width: 1200px;
}
